body{
    padding:0;
    margin:0;
    
}
.button{
    background-color: rgb(194, 94, 27);
    border: none;
    color:#ffff;
    padding:15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:2px 4px;
    cursor:pointer;
    border-radius: 10px;
    justify-content: center;
}
p{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;   
}
.btn{
    text-align: center;
}